<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Custom Search Engine</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>openCustomSearchEngineOptions</string>
		<key>Title</key>
		<string>Click me to show Custom Search Engine's options.</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>{}</string>
		<key>Key</key>
		<string>customSearchSettings</string>
	</dict>
</array>
</plist>
